In [20]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

zoo_df = pd.read_csv('./zoo.csv')
zoo_df.head(3)

,animal_name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4

In [40]:
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.base import BaseEstimator
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,precision_score,recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import roc_curve
from sklearn.metrics import auc
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score,cross_validate
from sklearn.metrics import f1_score
from sklearn.model_selection import KFold
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV,train_test_split

In [21]:
class_df = pd.read_csv('./class.csv')

In [23]:
class_df.head(3)

,Class_Number,Number_Of_Animal_Species_In_Class,Class_Type,Animal_Names
0,1,41,Mammal,"aardvark, antelope, bear, boar, buffalo, calf,..."
1,2,20,Bird,"chicken, crow, dove, duck, flamingo, gull, haw..."
2,3,5,Reptile,"pitviper, seasnake, slowworm, tortoise, tuatara"

In [24]:
Class_Type = class_df[class_df['Class_Number']==1]['Class_Type']

In [25]:
zoo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   animal_name  101 non-null    object
 1   hair         101 non-null    int64
 2   feathers     101 non-null    int64
 3   eggs         101 non-null    int64
 4   milk         101 non-null    int64
 5   airborne     101 non-null    int64
 6   aquatic      101 non-null    int64
 7   predator     101 non-null    int64
 8   toothed      101 non-null    int64
 9   backbone     101 non-null    int64
 10  breathes     101 non-null    int64
 11  venomous     101 non-null    int64
 12  fins         101 non-null    int64
 13  legs         101 non-null    int64
 14  tail         101 non-null    int64
 15  domestic     101 non-null    int64
 16  catsize      101 non-null    int64
 17  class_type   101 non-null    int64
dtypes: int64(17), object(1)
memory usage: 14.3+ KB

In [26]:
print(zoo_df['class_type'].value_counts())

1    41
2    20
4    13
7    10
6     8
3     5
5     4
Name: class_type, dtype: int64

In [27]:
df = zoo_df.drop('animal_name', axis=1)

In [28]:
df

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [35]:
df2 = pd.get_dummies(df, drop_first = True)
df2

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,class_type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1,1
97,1,0,1,0,1,0,0,0,0,1,1,0,6,0,0,0,6
98,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
99,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,7
100,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0,2

In [56]:
type_target = df2['class_type']
type_target

0      1
1      1
2      4
3      1
4      1
      ..
96     1
97     6
98     1
99     7
100    2
Name: class_type, Length: 101, dtype: int64

In [51]:
type_target_scaled = MinMaxScaler().fit_transform(type_data)

In [58]:
type_target_scaled = pd.DataFrame(data = type_target_scaled, columns=class_df["Class_Type"])

ValueError: Shape of passed values is (101, 16), indices imply (101, 7)

In [50]:
type_target_scaled

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.00,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,1.0
97,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0
98,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
99,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
100,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,0.0

In [38]:
type_data = df2.drop(['class_type'], axis=1)

In [42]:
type_scaled = MinMaxScaler().fit_transform(type_data)
type_scaled = pd.DataFrame(data = type_scaled, columns=type_data.columns)
type_scaled

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.00,1.0,0.0,0.0
3,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,0.0,0.0,1.0
4,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,1.0
97,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.75,0.0,0.0,0.0
98,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.50,1.0,0.0,1.0
99,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.00,0.0,0.0,0.0
100,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.25,1.0,0.0,0.0

In [72]:
x_train,x_test,y_train,y_test=train_test_split(type_scaled,type_target,
                                              test_size=0.2,random_state=121,
                                                stratify=type_target)

In [63]:
def crossval(datax,datay,model,cv=3):
    score=cross_val_score(model,datax,datay,cv=cv,scoring='accuracy')
    return(np.mean(score))

In [64]:
def plotting(ytest,pred):
    fig,ax=plt.subplots(1,2,figsize=(10,5))
    precision,recall,threshold=precision_recall_curve(ytest,pred[:,1])
    ax[0].plot(recall,precision,'g--')
    ax[0].set_xlabel('Recall')
    ax[0].set_ylabel('Precision')
    ax[0].set_title('Average Precision Score:{}'.format(average_precision_score(ytest,pred[:,1])))
    fpr,tpr,threshold=roc_curve(ytest,pred[:,1])
    ax[1].plot(fpr,tpr)
    ax[1].set_title("AUC Score is:{}".format(auc(fpr,tpr)))
    ax[1].plot([0,1],[0,1],'k--')
    ax[1].set_xlabel('False Positive Rate')
    ax[1].set_ylabel('True Positive Rate')

In [66]:

dt_clf=DecisionTreeClassifier(max_depth=6)
score_dt=crossval(x_train,y_train,dt_clf)
print('accuracy score is :',score_dt)

accuracy score is : 0.8874643874643874

In [73]:
y_train

92    4
95    2
57    2
0     1
51    6
     ..
80    3
86    4
56    2
98    1
89    5
Name: class_type, Length: 80, dtype: int64

In [74]:
X_test

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
26,0,0,1,0,0,1,1,1,1,1,1,0,4,0,0,0
86,0,0,1,0,0,1,1,1,1,0,1,1,0,1,0,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
55,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
75,1,0,0,1,0,1,1,1,1,1,0,1,2,1,0,1
94,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,0
16,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0
73,0,0,1,0,0,1,0,1,1,0,0,1,0,1,0,0
54,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,0
96,1,0,0,1,0,0,0,1,1,1,0,0,2,1,0,1
53,0,0,1,0,0,1,1,0,0,0,0,0,8,0,0,1
93,1,0,0,1,1,0,0,1,1,1,0,0,2,1,0,0
78,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0
13,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0
30,0,0,1,0,1,0,0,0,0,1,0,0,6,0,0,0
22,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
24,0,0,1,0,0,0,0,0,0,1,0,0,6,0,0,0
33,0,1,1,0,1,1,1,0,1,1,0,0,2,1,0,0
8,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
43,0,1,1,0,1,0,0,0,1,1,0,0,2,1,0,0

In [90]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

xgb_clf = XGBClassifier(n_estimators=100, random_state=10)

# 성능 평가 지표를 auc로, 조기 중단 파라미터는 100으로 설정하고 학습 수행. 
xgb_clf.fit(X_train, y_train, early_stopping_rounds=50,
            eval_metric="mlogloss", eval_set=[(X_train, y_train), (X_test, y_test)])

xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test)[:,1],average='macro')
print('ROC AUC: {0:.4f}'.format(xgb_roc_score))

[0]	validation_0-mlogloss:1.8734	validation_1-mlogloss:1.92057
Multiple eval metrics have been passed: 'validation_1-mlogloss' will be used for early stopping.

Will train until validation_1-mlogloss hasn't improved in 50 rounds.
[1]	validation_0-mlogloss:1.81111	validation_1-mlogloss:1.90165
[2]	validation_0-mlogloss:1.75736	validation_1-mlogloss:1.88573
[3]	validation_0-mlogloss:1.71062	validation_1-mlogloss:1.86475
[4]	validation_0-mlogloss:1.66938	validation_1-mlogloss:1.8478
[5]	validation_0-mlogloss:1.63165	validation_1-mlogloss:1.83421
[6]	validation_0-mlogloss:1.59683	validation_1-mlogloss:1.82709
[7]	validation_0-mlogloss:1.5666	validation_1-mlogloss:1.81625
[8]	validation_0-mlogloss:1.5372	validation_1-mlogloss:1.81309
[9]	validation_0-mlogloss:1.51079	validation_1-mlogloss:1.80897
[10]	validation_0-mlogloss:1.48664	validation_1-mlogloss:1.81002
[11]	validation_0-mlogloss:1.46381	validation_1-mlogloss:1.80206
[12]	validation_0-mlogloss:1.44297	validation_1-mlogloss:1.80429
[13]	validation_0-mlogloss:1.42299	validation_1-mlogloss:1.79915
[14]	validation_0-mlogloss:1.40343	validation_1-mlogloss:1.79373
[15]	validation_0-mlogloss:1.38536	validation_1-mlogloss:1.78853
[16]	validation_0-mlogloss:1.36793	validation_1-mlogloss:1.78679
[17]	validation_0-mlogloss:1.35075	validation_1-mlogloss:1.78159
[18]	validation_0-mlogloss:1.33455	validation_1-mlogloss:1.77665
[19]	validation_0-mlogloss:1.32202	validation_1-mlogloss:1.77916
[20]	validation_0-mlogloss:1.30791	validation_1-mlogloss:1.77284
[21]	validation_0-mlogloss:1.29512	validation_1-mlogloss:1.77892
[22]	validation_0-mlogloss:1.28172	validation_1-mlogloss:1.77044
[23]	validation_0-mlogloss:1.26876	validation_1-mlogloss:1.76887
[24]	validation_0-mlogloss:1.2577	validation_1-mlogloss:1.77254
[25]	validation_0-mlogloss:1.24734	validation_1-mlogloss:1.76991
[26]	validation_0-mlogloss:1.23781	validation_1-mlogloss:1.77378
[27]	validation_0-mlogloss:1.22669	validation_1-mlogloss:1.76605
[28]	validation_0-mlogloss:1.21728	validation_1-mlogloss:1.76907
[29]	validation_0-mlogloss:1.20901	validation_1-mlogloss:1.76949
[30]	validation_0-mlogloss:1.19842	validation_1-mlogloss:1.777
[31]	validation_0-mlogloss:1.18939	validation_1-mlogloss:1.77069
[32]	validation_0-mlogloss:1.18098	validation_1-mlogloss:1.77488
[33]	validation_0-mlogloss:1.17363	validation_1-mlogloss:1.77309
[34]	validation_0-mlogloss:1.16657	validation_1-mlogloss:1.77745
[35]	validation_0-mlogloss:1.15882	validation_1-mlogloss:1.78304
[36]	validation_0-mlogloss:1.15123	validation_1-mlogloss:1.78779
[37]	validation_0-mlogloss:1.14474	validation_1-mlogloss:1.78927
[38]	validation_0-mlogloss:1.13759	validation_1-mlogloss:1.79178
[39]	validation_0-mlogloss:1.13186	validation_1-mlogloss:1.7963
[40]	validation_0-mlogloss:1.12587	validation_1-mlogloss:1.79586
[41]	validation_0-mlogloss:1.11966	validation_1-mlogloss:1.80498
[42]	validation_0-mlogloss:1.11294	validation_1-mlogloss:1.80458
[43]	validation_0-mlogloss:1.10788	validation_1-mlogloss:1.80939
[44]	validation_0-mlogloss:1.10189	validation_1-mlogloss:1.81293
[45]	validation_0-mlogloss:1.09722	validation_1-mlogloss:1.81499
[46]	validation_0-mlogloss:1.09125	validation_1-mlogloss:1.81542
[47]	validation_0-mlogloss:1.08482	validation_1-mlogloss:1.82007
[48]	validation_0-mlogloss:1.07987	validation_1-mlogloss:1.82588
[49]	validation_0-mlogloss:1.07532	validation_1-mlogloss:1.82974
[50]	validation_0-mlogloss:1.06901	validation_1-mlogloss:1.83154
[51]	validation_0-mlogloss:1.06358	validation_1-mlogloss:1.83538
[52]	validation_0-mlogloss:1.05918	validation_1-mlogloss:1.83919
[53]	validation_0-mlogloss:1.05331	validation_1-mlogloss:1.84205
[54]	validation_0-mlogloss:1.04793	validation_1-mlogloss:1.84512
[55]	validation_0-mlogloss:1.04264	validation_1-mlogloss:1.84967
[56]	validation_0-mlogloss:1.03783	validation_1-mlogloss:1.84807
[57]	validation_0-mlogloss:1.03283	validation_1-mlogloss:1.85436
[58]	validation_0-mlogloss:1.02849	validation_1-mlogloss:1.85843
[59]	validation_0-mlogloss:1.02421	validation_1-mlogloss:1.86176
[60]	validation_0-mlogloss:1.02003	validation_1-mlogloss:1.86806
[61]	validation_0-mlogloss:1.0152	validation_1-mlogloss:1.87219
[62]	validation_0-mlogloss:1.01033	validation_1-mlogloss:1.8761
[63]	validation_0-mlogloss:1.00562	validation_1-mlogloss:1.88575
[64]	validation_0-mlogloss:1.00266	validation_1-mlogloss:1.88868
[65]	validation_0-mlogloss:0.997933	validation_1-mlogloss:1.89098
[66]	validation_0-mlogloss:0.99469	validation_1-mlogloss:1.89895
[67]	validation_0-mlogloss:0.991106	validation_1-mlogloss:1.90047
[68]	validation_0-mlogloss:0.987676	validation_1-mlogloss:1.90891
[69]	validation_0-mlogloss:0.984052	validation_1-mlogloss:1.91046
[70]	validation_0-mlogloss:0.980921	validation_1-mlogloss:1.92059
[71]	validation_0-mlogloss:0.977342	validation_1-mlogloss:1.92238
[72]	validation_0-mlogloss:0.974559	validation_1-mlogloss:1.9302
[73]	validation_0-mlogloss:0.971121	validation_1-mlogloss:1.93301
[74]	validation_0-mlogloss:0.968269	validation_1-mlogloss:1.94012
[75]	validation_0-mlogloss:0.965324	validation_1-mlogloss:1.94462
[76]	validation_0-mlogloss:0.962906	validation_1-mlogloss:1.95171
[77]	validation_0-mlogloss:0.959799	validation_1-mlogloss:1.95447
Stopping. Best iteration:
[27]	validation_0-mlogloss:1.22669	validation_1-mlogloss:1.76605

ValueError: multi_class must be in ('ovo', 'ovr')

In [89]:
print(xgb_clf)

XGBClassifier(Objetive='multi:softmax', objective='multi:softprob')